<div class="container text-center justify-content-center py-3">

  <div class="row text-center my-3">
    <div class="col-12">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/b7/0e/8b/b70e8bfe35500374d6224e2ee51c0065.jpg"
        alt="NFL teams">
    </div>
  </div>


  <div class="row my-4 profileContainer">
    <div class="col-6 my-5">
      <div class="row my-4">
        <div class="col-12">
          <div id="player1Bio">

          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12">
          <h3>2018 Stats</h3>
          <div id="player1Stats">

          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12">
          <h3>2019 Projections</h3>
          <div id="player1Projections">

          </div>
        </div>
      </div>
    </div>
    <div class="col-6 my-5">
      <div class="row my-4">
        <div class="col-12">
          <div id="player2Bio">

          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12">
          <h3>2018 Stats</h3>
          <div id="player2Stats">

          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12">
          <h3>2019 Projections</h3>
          <div id="player2Projections">

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-3">
      <select class="form-control" id="filterDrop">
        <option value="QB">QB</option>
        <option value="WR">WR</option>
        <option value="RB">RB</option>
        <option value="TE">TE</option>
        <option value="K">K</option>
      </select>
    </div>
    <div class="col-12">

      <table class="table table-sm table-hover table-bordered bg-light text-dark text-center" id="compareTable">
        <thead class="thead-dark">
          <tr>
            <th>Rank</th>
            <th>Name</th>
            {{#each players.[0].Stats2018 as |val key|}}
            <th>{{key}}</th>
            {{/each}}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each players}}
          <tr data-player={{this.id}}>
            <td>{{plusOne @index}}</td>
            <td><a href="/profile/players/{{this.id}}">{{this.bio.Name}}</a></td>
            {{#each this.Stats2018 as |val key|}}
            <td>{{val}}</td>
            {{/each}}
            <td><button data-target="{{@index}}">Select</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>