<ul>
    <li>
        <img src="{{player.profilePic}}" alt="">
        <ul>
            {{#each player.bio as |val key|}}
            <li>
                <strong>{{key}}</strong> : {{val}}
            </li>
            {{/each}}
        </ul>
        <ul>
            {{#each player.stats2018 as |val key|}}
            <li>
                <strong>{{key}}</strong> : {{val}}
            </li>
            {{/each}}
        </ul>
        <ul>
            {{#each player.projections2019 as |val key|}}
            <li>
                <strong>{{key}}</strong> : {{val}}
            </li>
            {{/each}}
        </ul>
    </li>
</ul>